.explore {
  background-color: #fbf9ee;
}

:root {
  --green1: #8bc3a0;
  --green2: #348652;
  --red: #f66d4f;
  --red2: #ffb09f;
  --orange1: #ffa482;
  --orange2: #ffdccf;
}

#explore-section .section-1 > .card {
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  background-color: beige;
}

#explore-section .card:hover {
  box-shadow: 0px 6px 5px -1px rgb(187, 187, 187);
  transform: translate3d(0px, -10px, 0px);
  transition: all 0.5s ease-in-out;
}

#explore-section .card-group > .card {
  margin: 10px;
  background-color: beige;
}

#explore-section .first-card-row {
  background-color: var(--red);
}

#explore-section .second-card-row {
  background-color: var(--green1);
}
#explore-section .third-card-row {
  background-color: var(--orange1);
}
#explore-section .fa-utensils,
.exp-heading-1 {
  color: var(--red2);
}

#explore-section .fa-lemon,
.exp-heading-2 {
  color: var(--green2);
}

#explore-section .fa-route,
.exp-heading-3 {
  color: var(--orange2);
}

#explore-section .btn {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;

  /*
 background-color: beige;
 border: 1px solid beige;
 padding: .5rem 1rem;
 font-size: 1.25rem;
 line-height: 1.5; */

  background-color: beige;
  color: darkgrey;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#explore-section .card:hover .btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
}

#explore-section .h3 {
  font-weight: bolder;
}

#explore-section p {
  color: beige;
}

#explore-section .card-img {
  height: 100%;
}
