:root {
  --grey: grey;
  --purple: rgb(138, 110, 255);
  --darkerpurple: rgb(234, 229, 255);
  --white: rgb(255, 255, 255);
  --green: rgb(116, 235, 116);
  --orange: #ffac1c;
}
#host-section .grey {
  color: var(--grey);
}
#host-section .green {
  color: var(--green);
}
#host-section .purple {
  color: var(--purple);
}
#host-section .black {
  color: black;
}
#host-section .orange {
  color: var(--orange);
}
/* body {
  margin: 0px;
  font-family: sans-serif;
} */
#host-section .outline {
  border: 1px solid black;
}
#host-section .outline2 {
  border: 1px solid red;
}
#host-card:hover {
  box-shadow: 0px 0px 5px 0px rgba(199, 197, 199, 1);
  cursor: pointer;
}

#host-section .profile-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

#host-section .fontsize-light {
  font-size: 6px;
}
#host-section .fontsize-medium {
  font-size: 10px;
}
#host-section .fontsize-header {
  font-size: 25px;
}
#host-section .position-leftbox {
  top: -40px;
  left: 10px;
  padding: 3px;
  border-radius: 4px;
  background-color: var(--darkerpurple);
}
#host-section .position-rightbox {
  top: -40px;
  right: 10px;
  padding: 3px;
  border-radius: 4px;
  background-color: var(--white);
}
#host-section .img-height {
    height: 200px;
}
