section {
    position: relative;
}

video {
    width: 1600px;
    height: 600px;
    object-fit : cover;
}
.overplay {
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    display : flex;
    justify-content : flex-end;
}
.sec-op {
    position : absolute;
    bottom : 300px;
    left : 200px;
    display: inline;
    align-self: center;
}
.nav-box {
    width :400px;
}
.nav-bar-search {
    top : 500px;
    position :absolute;
}

h1 {
    font-size: 64px;
    line-height: 65px;
    color: rgb(255, 250, 209);
    font-family: Circular, sans-serif;
    padding-left : 20px;
}
h1:after {
    content: ".";
    color: rgb(253, 120, 84);
}

h2 {
    font-size : 28px;
    line-height : 34px;
    text-align: center;
    color: rgb(251, 249, 238);
}
.btn-outline-primary {
    background-color: rgb(253, 120, 84);
    border : none;
    color : white;
}

.main-text {
    padding-right: 610px;
}
.main-lg {
    width :60px;
}
