@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

*{
    font-family: Circular Std Book;
}
#banners-section .gift-card {
    background-color: rgb(251, 249, 238);
    font-size: 20px;
    color: #fffad1;
}

#banners-section .private-event {
    background-color: rgb(53, 53, 48);
}

#banners-section .btn-secondary {
    background-color: rgb(53, 53, 48);
    border: 1px solid white;
}

#banners-section .btn-secondary:hover {
    color: black;
    background-color: white;
}

#subscribe-section {
    background-color: rgb(53, 53, 48);
}

#subscribe-section .subscribe-badge {
    width: 120px;
    height: 120px;
}

#subscribe-section button {
    background-color: rgb(53, 53, 48);
    border: 1px solid white;
}

#subscribe-section button:hover {
    background-color: white;
    color: rgb(53, 53, 48);
}

#subscribe-section .subscribe-title {
    color: #fffad1;
}

.private-event-title {
    color: #fffad1;
}

footer .jumbotron {
    background-color: #353530;
    color: white;
}

footer .logo {
    width: 120px;
    height: 30px;
}

footer .title-footer {
    height: 30px;
}

footer .mobile-btn {
    width: 125px;
    height: 50px;
}

footer .mobile-btn-apple {
    height: 40px;
    width: 125px;
}

.footer-about {
    font-size: 20px;
    color: #fffad1;
}

.footer-about a {
    font-size: 14px;
}

.footer-about a:hover {
    text-decoration: none;
    color: lightgreen !important;
}

.footer-about li {
    font-size: 14px;
}

.footer-policy a:hover {
    text-decoration: none;
    color: lightgreen !important;
}

hr {
    box-sizing: content-box;
    background-color: white;
    height: 0;
    border: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 1px solid #dfe2e7;
    border-right-width: 0px;
    border-color: rgba(255, 255, 255, .12);
}